<script type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{{ partial "header.html" . }}

{{ .Content }}

{{ if .IsHome }}
{{ $.Scratch.Set "pages" .Site.RegularPages }}
{{ else }}
{{ $.Scratch.Set "pages" .Pages }}
{{ end }}
<ul>
  {{ range (where ($.Scratch.Get "pages") "Section" "!=" "").GroupByDate "2006" }}
    <h2 class="archive-title">{{ .Key }}</h2>
    {{ range .Pages }}
    <article class="archive-item">
      <span class="archive-item-date">
        {{ .Date.Format "2006/01/02" }}
      </span>
      <a href="{{ .Permalink }}" class="archive-item-link">{{ .Title }}</a>
    </article>
    {{ end }}
    {{ end }}
</ul>

{{ partial "footer.html" . }}
