{{ if or (.Params.math) (.Site.Params.math) }}
<!-- MathJax v3 Configuration -->
<script>
window.MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']],
    displayMath: [['$$', '$$'], ['\\[', '\\]']]
  }
};
</script>
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>
{{ end }}

<!--
script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['$', '$'], ['\\(', '\\)']],  // 开启 $...$ 和 \( ... \)
    displayMath: [['$$','$$'], ['\\[','\\]']],
    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
  }
});
</script>
<script async type="text/javascript"
  src="https://mathjax.rstudio.com/2.7.9/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
-->
